:root {
  --orange: #f79576;
}

.bg-orange {
  --bs-bg-opacity: 1;
  background-color: var(--orange) !important;
  color: #fff;
}

.border-orange {
  border: solid 4px var(--orange);
}

.btn-orange {
  color: #fff !important;
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
}

.btn-orange:hover {
  color: var(--orange) !important;
  background-color: var(--white) !important;
  border-color: var(--orange) !important;
}


/* -------------------------------------Creating bootstrap yellow class------------------------------------- */

:root {
  --yellow: #fbdf5f;
}

.bg-yellow {
  --bs-bg-opacity: 1;
  background-color: var(--yellow) !important;
  color: #fff;
}

.border-yellow {
  border: solid 2px var(--yellow);
  border-radius: 3px;
}

.btn-yellow {
  color: #9f369a;
  background-color: var(--yellow);
  border-color: var(--purple);
}

.btn-yellow:hover {
  color: var(--purple);
  background-color: var(--white);
  border-color: var(--purple);
}


/* -------------------------------------Creating bootstrap purple class------------------------------------- */

:root {
  --purple: #9f369a;
}

.bg-purple {
  --bs-bg-opacity: 1;
  background-color: var(--purple) !important;
  color: #fff;
}

.border-purple {
  border: solid 2px var(--purple);
}

.btn-purple {
  color: #fff;
  background-color: var(--purple);
  border-color: var(--v);
}

.btn-purple:hover {
  color: var(--purple);
  background-color: var(--white);
  border-color: var(--purple);
}


/* ------------------------------------- Général ------------------------------------- */


@font-face {
  font-family: 'sensation';
  src: url('../fonts/sensations.ttf');
}



p {
  color: #9f369a;
  font-size: larger;
  font-weight: 500;
  text-align: center;
}

h1 {
  font-family: 'sensation';
  font-size: 4.5rem;
  color: #9f369a;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  color: #9f369a;
  margin-top: 12px;
  text-align: center;
}

h3 {
  font-family: 'sensation';
  font-size: 5.8rem;
  color: #9f369a;
  margin-top: 25px;
  text-align: center;
}

hr {
  background-color: #fbdf5f;
  height: 5px !important;
  width: 100%;
  opacity: 1;
  border-top: 1px dotted #fbdf5f;
  margin: 0;
  margin-top: -1em;
}

.ziguiguisg {
  background-image: url('../img/ziguiguisG.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
}

.ziguiguisd {
  background-image: url('../img/ziguiguisD.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}



/* ------------------------------------- Nav ------------------------------------- */

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .95);
}

.nav-link:hover {
  color: rgba(255, 255, 255, .95);
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
  color: #9f369a;
}

a{
  font-size: 1.8em;
}

/* ------------------------------------- Témoignages ------------------------------------- */

.gradient-custom {
  /* fallback for old browsers */
  background: #fbdf5f;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(251, 223, 95, 1), rgba(247, 149, 118, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(251, 223, 95, 1), rgba(247, 149, 118, 1))
}

/* ------------------------------------- Sponsors ------------------------------------- */

.img-thumbnail {
  max-width: 200px;
  max-height: 200px;
  margin: 5px;
}


/* ########################################## @medias ######################################## */

@media only screen and (max-width: 600px) {

  p {
    color: #9f369a;
    font-size: large;
    font-weight: 400;
  }

  h3 {
    font-family: 'sensation';
    font-size: 3.8rem;
    color: #9f369a;
    margin-top: 12px;
    text-align: center;
  }

  h4 {
    font-family: 'sensation';
    font-size: 2.5rem;
    color: #9f369a;
    margin-top: 12px;
  }

  #carouselExampleIndicators,
  #carousel2ExampleIndicators {
    width: 100%;
  }

}

@media only screen and (min-width: 600px) {

  #carouselExampleIndicators {
    width: 75%;
  }

  h4 {
    font-family: 'sensation';
    font-size: 3.5rem;
    color: #9f369a;
    margin-top: 12px;
  }

}